.contact {
  background-color: rgba(47, 47, 47, 0.678);
  text-shadow: none;
  padding: 5px;
  border-radius: 2px;
}

#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

li {
  text-align: center;
  padding: 5px;
  margin-top: 15px;
}

.contactBanners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .contactBanners {
    grid-template-columns: 1fr 1fr;
    padding: 5px;
  }
  #contact {
    border-left: rgb(237, 204, 247) dashed 2px;
    border-right: rgb(237, 204, 247) dashed 2px;
    border-bottom: rgb(237, 204, 247) dashed 2px;
  }
}
