main {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

ul {
  font-size: small;
  text-align: left;
}

.indexQuickPresentation {
  text-align: center;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rgb(237, 204, 247) dashed 2px;
  border-left: rgb(237, 204, 247) dashed 2px;
  border-bottom: rgb(237, 204, 247) dashed 2px;
  width: 100%;
}

.indexQuickPresentationBanners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.indexQuickPresentation hr {
  width: 80%;
  border: none;
  height: 3px;
  background-color: rgba(204, 162, 244, 0.231);
  border-radius: 3px;
  margin: 15px 0;
}

.indexPfp {
  padding: 15px;
}

.indexWelc {
  padding: 18px;
  border-right: rgb(237, 204, 247) dashed 2px;
  border-bottom: rgb(237, 204, 247) dashed 2px;
  grid-column: 4 / -1;
  grid-row: 1 / span 1;
}

.indexWelc ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.indexWelc ul div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.indexWelc ul div li {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  justify-content: space-between;
}

.indexWelcBanner {
  padding: 10px;
}

.scolaire {
  padding: 18px;
  grid-column: 4 / -1;
  grid-row: 2 / span 1;
  border-right: rgb(237, 204, 247) dashed 2px;
  border-bottom: rgb(237, 204, 247) dashed 2px;
}

.scolaire table {
  width: 90%;
  empty-cells: hide;
  border-collapse: collapse;
}

.scolaire table th,
.scolaire table td {
  grid-column: 2;
  border: rgb(237, 204, 247) dashed 2px;
  padding: 20px;
}

@media screen and (max-width: 880px) {
  nav {
    /* display: none; */
  }

  html {
    padding: 2vh !important;
  }

  main   {
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }

  header img {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* overflow: hidden; */
  }
  .indexQuickPresentation {
    grid-column: 1 / span 10;
    grid-row: 1 / span 2;
    gap: 0;
    padding: 1vh;
  }

  #left {
    grid-column: 1 / span 10;
    grid-row: 3 / span 1;
  }
}
