main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

ul {
  font-size: small;
}

.indexQuickPresentation {
  text-align: center;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rgb(237, 204, 247) dashed 2px;
  border-left: rgb(237, 204, 247) dashed 2px;
  border-bottom: rgb(237, 204, 247) dashed 2px;
  width: 100%;
}

.indexQuickPresentationBanners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.indexPfp {
  padding: 15px;
}

.indexWelc {
  padding: 15px;
  border-right: rgb(237, 204, 247) dashed 2px;
  border-bottom: rgb(237, 204, 247) dashed 2px;
  grid-column: 4 / -1;
  grid-row: 1 / span 1;
}

.musicLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}

.musicLabel img {
  height: 8vh;
}

audio {
  width: px;
}
