@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

#left {
  grid-column: 4 / -1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
}

html {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 45vh;
  font-family: "Noto Serif", serif;
  color: rgb(237, 204, 247);
  background-image: url(/assets/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  cursor: url(/assets/cursors/cursor.cur), auto !important;
  scroll-behavior: smooth;
}
input[type="range"] {
  cursor: url(/assets/cursors/horizontal.cur), pointer !important;
}

img {
  image-rendering: pixelated;
}

header,
main,
footer {
  background-color: rgb(39, 11, 42);
}

header {
  border-radius: 8px 8px 0 0;
}

footer {
  border-radius: 0 0 8px 8px;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dashed pink;
}

main {
  width: 100%;
  overflow-wrap: break-word;
  display: grid;
}

button,
a {
  cursor: url(/assets/cursors/pointer.cur), pointer !important;
}

nav {
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



nav button {
  background-color: #ff46b21f;
  padding: 0;
  border: none;
  display: block;
  padding: 10px;
  color: #ea8af7;
  text-decoration: none;
  text-shadow: #ff46b3 0 0 10px;
}

nav button:hover {
  color: #ff46b3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: #ff46b3 0 0 10px;
}

p,
li,
span {
  text-shadow: #ffc5e7 0 0 10px;
}

h3 {
  color: #ff46b3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.noBullet {
  list-style: none;
}

.txtBold {
  font-weight: bolder;
}
@media screen and (max-width: 880px) {

  
  nav {
    background-color: #ff46b21f;
  }
  
  nav button {
    background-color: transparent;
  }
}