@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 45vh;
  font-family: "Noto Serif", serif;
  color: rgb(237, 204, 247);

  background-image: url(/assets/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  image-rendering: pixelated;
}

header,
main,
footer {
  background-color: rgb(39, 11, 42);
}

header {
  border-radius: 8px 8px 0 0;
}

footer {
  border-radius: 0 0 8px 8px;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dashed pink;
}

main {
  width: 100%;
  overflow-wrap: break-word;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: #ea8af7;
  text-decoration: none;
  padding: 5px;
  text-shadow: #ff46b3 0 0 10px;
}

nav a:hover {
  color: #ff46b3;
}

h1,
h2,
h3 {
  text-shadow: #ff46b3 0 0 10px;
}

p, li{
  text-shadow: #ffc5e7 0 0 10px;

}

h3 {
  color: #ff46b3;
  letter-spacing: 2px;
  text-transform: uppercase;
}
